.Listtodo {
    border-radius: 2px solid black;
    background-color: #ffe5b4;
    color: #9f5811;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.done-task {
    text-decoration: line-through;
    color: rgb(136, 38, 38);
    font-style: italic;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  